<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.cashbook.dao.MemberMapper">

	<insert id="insert" parameterType="MemberVO">
		insert into cashbook_member (
			userid
			, userpwd
		)
		values (
			#{userid}
			, #{userpwd}
		) 
		
	</insert>

	<select id="getMember" parameterType="string" resultType="MemberVO">
		select * from cashbook_member where userid = #{userid}
	</select>
</mapper>

